:root {
   --color-square: rgba(255, 0, 0, .5);
   --color-triangle: rgb(0, 0, 255, .5);
   --color-circle: rgba(0, 255, 0, .5);
   --color-active-shape: rgba(255, 255, 0, .5);

   --font-size-default: 1.6rem;

   --border-shape: .1rem solid black;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   font-family: Arial, Helvetica, sans-serif;
   font-size: var(--font-size-default);
   padding: 1rem;
}

.form {
   &__input {
      outline: none;
   }

   &__btn {
      padding: .25rem .5rem;
      text-transform: capitalize;
      outline: none;
      cursor: pointer;
   }
}

.shape-container {
   position: relative;
   margin-top: 5rem;
   width: 100%;
   flex: 1;
}

.shape {
   position: absolute;
   border: var(--border-shape);
   width: 20rem;
   transition: background-color .2s;

   &__triangle {
      height: 9rem;
      background-color: var(--color-triangle);
      clip-path: polygon(50% 0, 100% 100%, 0 100%);
   }

   &__square {
      height: 20rem;
      background-color: var(--color-square);
   }

   &__circle {
      height: 20rem;
      background-color: var(--color-circle);
      border-radius: 50%;
   }

   &--active {
      background-color: var(--color-active-shape);
   }
}